<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frog.ui">
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivityProperty"></activity>
        <activity android:name=".broadcast.MainActivityBroadcastBranch" />
        <activity android:name=".broadcast.MainActivityBroadcastMain" />
        <activity android:name=".MainActivityFile" />
        <activity android:name=".MainActivitySharedPreference" />
        <activity android:name=".fragment.MainActivityContainer" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ActivityJump.MainActivityJumpSecond">
            <intent-filter>
                <action android:name="com.frog.ui_second" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityJump.MainActivityJumpFirst" />
        <activity android:name=".MainActivitySignUp" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.frog.ui.BmobContentProvider" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.frog.ui"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivityUserInterface" />
        <activity android:name=".MainActivityProgress" /> <!-- android:theme="@style/AppTheme" -->
        <activity android:name=".MainActivityAlertDialog" />
        <activity android:name=".MainActivityToast" />
        <activity android:name=".MainActivityWebviewUrl" />
        <activity android:name=".MainActivityWebViewLocal" />
        <activity android:name=".MainActivityWebView" />
        <activity android:name=".MainActivityScrollView" />
        <activity android:name=".MainActivityImageView" />
        <activity android:name=".MainActivityTextView" />
        <activity android:name=".MainActivityCheckBox" />
        <activity android:name=".MainActivityRadioButton" />
        <activity android:name=".MainActivityEditText" />
        <activity android:name=".MainActivityButton" />
        <activity android:name=".MainActivityLifeCycle" />
        <activity android:name=".MainActivityWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>